.redesSociais{
    width: 100%;
    text-align: center;
    a{
        font-size: 30px;
        margin-right: 2%;
        color: #a8b2d1;
        &:hover{
            color: #64ffda;
        }
    }
}

