.LinhaDoTempotempo {
    padding: 15px 70px;

    .txt {
        position: relative;

        h5,
        h4 {
            line-height: 1.2;
        }

        &::before {
            content: "";
            background-color: white;
            width: 1px;
            height: 80%;
            position: absolute;
            left: -38px;
            top: 20px;
            z-index: 1;
        }

        .item {
            position: relative;
            // &:last-child{
            //     // background-color: red;
            //     &::after{
            //         content: "♦";
            //         position: absolute;
            //         font-size: 25px;
            //         left: -44.5px;
            //         top: 130%;
            //         z-index: 2;
            //         padding-bottom: 4px;
            //         color: white;
            //     }
            // }
            margin-bottom: 50px;

            .ano {
                margin-right: 40px;
                font-size: 15px;
                margin-bottom: 5px;
                position: relative;
                color: #7c87a4;

                &::after {
                    content: "⦿";
                    position: absolute;
                    font-size: 25px;
                    left: -60px;
                    top: -7px;
                    background-color: #09182f;
                    z-index: 2;
                    padding-bottom: 4px;
                    padding-top: 4px;
                    color: white;
                    z-index: 9;
                }
            }

            .lugar {
                font-size: 25px;
                color: white;
            }

            .conteudo {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 500px) {
    .LinhaDoTempotempo {
        padding: 15px 0px 15px 20px;
        .ano{
            margin: 0;
            font-size: 15px;
        }
        .lugar{
            font-size: 19px;
        }
    }
}