@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.main{
    font-family: 'Fira Code', monospace;
}
.main_page{
    background-color: #09182f;
    min-height: 100vh;
    color: white;
    padding: 100px;
}